.LandingScreenContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem 0;
}

.landingPageAboutMeSection{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.1rem;
  padding-top: 1rem;
}

.landingPageAboutMeSectionContainer{
  /* border: 1px solid var(--light-grey);
  padding: 1rem; */
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  transition: ease;
  transition-duration: 0.2s;
}

.landingPageAboutMeSectionContainer:hover{
  transform: scale(1.008);
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.landingPageAboutMeSection span{
  font-size: 1.3rem;
  background: linear-gradient(
    to right,
    #373737 30%,
    #bbbbbb 70%,
    #323232 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 2s linear;
  animation-direction: reverse;
  animation-delay: 3s;
}

.landingPageAboutMeSection:hover{
  /* animation-play-state: running; */
  animation-iteration-count: infinite;
}

.landingPageSalutation{
  font-size: 1.5rem !important;
}

.SectionHeading {
  font-size: 1.5rem;
}

.ProjectsSection{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.7rem;
}

.ContributionsSection{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.7rem;
}

.SocialsSection{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.CopyRightSection{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}