:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --primary-color: #343434;
  --primary-color-dark: #225bb3;
  --primary-color-light: #5dace4;
  --off-black: #626262;
  --light-grey: #b2b2b2;
  --abs-white: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  font-family: 'Axiform', sans-serif;
  background-color: white;
  position: fixed;
  display: flex;
  top: 0;bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
}

.appWindow{
  width: 60vw;
  height: auto;
  overflow: scroll;
  padding: 0 1rem;
}

.appWindow {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.appWindow::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

#bigBox {
  position:absolute;
  width:200px;
  height:200px;
  top:50%;
  left:50%;
  margin:-100px 0 0 -120px;
  animation:bigBoxAnimation 6s linear infinite;
}
#box,#box2 {
  position:absolute;
  top:60%;
  left:50%;
  width:40px;
  height:40px;
  margin:-20px 0 0 -20px;
  animation:boxAnimation 2.95s cubic-bezier(0.02, 0.01, 0.31, 1) infinite;
  z-index: -10;
}
#box2 {
  animation:boxAnimation 3.2s cubic-bezier(0.02, 0.01, 0.31, 1) infinite;
  transform:matrix(-1,0,0,1,0,0);
}
#box::after, #box2::after {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:6px;
  height:6px;
  background:#e0e0e0;
  border-radius:100%;
  animation:spanAnimation 3s cubic-bezier(0.3, 0.27, 0.07, 1.64) infinite;
  box-shadow:rgb(204, 204, 204) 0 0 20px 2px;
}
@keyframes bigBoxAnimation {
  100% {transform:rotate(360deg);}
}
@keyframes boxAnimation{
  50% {transform:translateY(-150px);}
}
@keyframes spanAnimation {
  50% {transform:translateX(-150px)}
}