.socialsSectionContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

.socialsSectionContainer img{
    cursor: pointer;
    transition: transform 0.3s ease;
}

.socialsSectionContainer img:hover{
    transform: scale(1.1);
}