.navbarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
    padding-bottom: 1rem;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
  }
  

.logoSection{
    font-size: 1.9rem;
    font-family: monospace;
    background: linear-gradient(
        to right,
        #000000 30%,
        #dcc1e8 70%,
        #050404 80%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      background-size: 500% auto;
      animation: textShine 4s linear infinite;
      animation-direction: reverse;
}

.ninjaAnimation{
    height: 5rem;
    cursor: pointer;
    transition: ease;
    transition-duration: 0.2s;
}

.ninjaAnimation{
    transform: scale(1.04);
}


.routesSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 0.8rem; */
}

.routesInstance{
    font-size: 1.1rem;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--primary-color);
}

.routesInstance .routesInstanceText{
    font-size: 1.2rem;
}

.activeRoutesInstance{
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.activeRoutesInstance .routesInstanceText{
    font-size: 1.1rem;
    color: white;
}