.mapHeatSection{
    border : 1px solid var(--light-grey);
    padding: 1rem;
}

.monthHeatMapContainer{
    display: grid;
    overflow-x: scroll;
    max-width: 100%;
}
.dayHeatPoint{
    background-color: green;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.dayHeatPoint:hover{
    background-color: var(--primary-color);
}